@model CarProject.TotalAmount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TotalAmount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel.CarModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel.CarModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine1.EngineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine1.EngineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make.MakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transmission.TransmissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transmission.TransmissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turbo.TurboName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turbo.TurboName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TotalAmountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
