@model FinalProject2.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel1.CarModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel1.CarModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine.EngineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine.EngineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make.MakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmission.TransmissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmission.TransmissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turbo.HPRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turbo.HPRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
