@model IEnumerable<FinalProject2.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarModel1.CarModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine.EngineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make.MakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transmission.TransmissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turbo.HPRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel1.CarModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine.EngineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make.MakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transmission.TransmissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turbo.HPRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarID })
        </td>
    </tr>
}

</table>
