@model FinalProject3.Models.Names
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<h2>Index</h2>
@using (Html.BeginForm())
{
<input type="submit" value="Submit" class="btn btn-default" />
<table>
    <tr>
        <td>
            <label>Manufacturer</label>
        </td>
        <td>
            @Html.DropDownListFor(x => x.ManufacturerName, Model.ManufacturerName, "--Select--", new { @id = "ddlManufacturer" });
        </td>
    </tr>
    <tr>
        <td>
            <label>Makes</label>
        </td>
        <td id="Make">
            @Html.DropDownListFor(x => x.MakeName, new List<SelectListItem>(), "--Select--", new { @id = "ddlMake" });
        </td>
    </tr>
    <tr>
        <td>
            <label>CarModel</label>
        </td>
        <td id="CarModel">
            @Html.DropDownListFor(x => x.CarModelName, new List<SelectListItem>(), "--Select--", new { @id = "ddlCarModel" });

        </td>
    </tr>
    <tr>
        <td>
            <label>Engine</label>
        </td>
        <td id="Engine1">
            @Html.DropDownListFor(x => x.EngineName, new List<SelectListItem>(), "--Select--", new { @id = "ddlEngine1" });

        </td>
    </tr>
    <tr>
        <td>
            <label>Transmission</label>
        </td>
        <td id="Transmissions">
            @Html.DropDownListFor(x => x.TransmissionName, new List<SelectListItem>(), "--Select--", new { @id = "ddlTransmissions" });

        </td>
    </tr>
    <tr>
        <td>
            <label>Turbo</label>
        </td>
        <td id="Turboes">
            @Html.DropDownListFor(x => x.TurboName, new List<SelectListItem>(), "--Select--", new { @id = "ddlTurboes" });

        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlManufacturer').change(function () {
            $.ajax({
                type: "post",
                url: "/DropDownList/GetMake",
                data: { ManufacturerID: $('#ddlManufacturer').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var make = "<select id='ddlMake'>";
                    make = make + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        make = make + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    } 
                    make = make + '</select>';
                    $('#Make').html(make);
                    
                    $('#ddlMake').change(function () {
                        $.ajax({
                            type: "post",
                            url: "/DropDownList/GetModel",
                            data: { MakeID: $('#ddlMake').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                var CModel = "<select id='ddlCarModel'>";
                                CModel = CModel + '<option value="">--Select--</option>';
                                for (var i = 0; i < data.length; i++) {
                                    CModel = CModel + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                CModel = CModel + '</select>';
                                $('#CarModel').html(CModel);
                                
                                $('#ddlCarModel').change(function () {
                                    $.ajax({
                                        type: "post",
                                        url: "/DropDownList/GetEngine",
                                        data: { CarModelID: $('#ddlCarModel').val() },
                                        datatype: "json",
                                        traditional: true,
                                        success: function (data) {
                                            var engine = "<select id='ddlEngine1'>";
                                            engine = engine + '<option value="">--Select--</option>';
                                            for (var i = 0; i < data.length; i++) {
                                                engine = engine + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                            }
                                            engine = engine + '</select>';
                                            $('#Engine1').html(engine);

                                            $('#ddlEngine1').change(function () {
                                                $.ajax({
                                                    type: "post",
                                                    url: "/DropDownList/GetTransmission",
                                                    data: { EngineID: $('#ddlEngine1').val() },
                                                    datatype: "json",
                                                    traditional: true,
                                                    success: function (data) {
                                                        var trans = "<select id='ddlTransmissions'>";
                                                        trans = trans + '<option value="">--Select--</option>';
                                                        for (var i = 0; i < data.length; i++) {
                                                            trans = trans + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                                        }
                                                        trans = trans + '</select>';
                                                        $('#Transmissions').html(trans);
                                                    }
                                                })
                                            })
                                        ('#ddlTransmissions').change(function () {
                                            $.ajax({
                                                type: "post",
                                                url: "/DropDownList/GetTurbo",
                                                data: { TransmissionID: $('#ddlTransmissions').val() },
                                                datatype: "json",
                                                traditional: true,
                                                success: function (data) {
                                                    var turbs = "<select id='ddlTurboes'>";
                                                    turbs = turbs + '<option value="">--Select--</option>';
                                                    for (var i = 0; i < data.length; i++) {
                                                        turbs = turbs + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                                    }
                                                    turbs = turbs + '</select>';
                                                    $('#Turboes').html(turbs);
                                                }
                                            })
                                        })
                                    
                                        }
                                    })
                                })
                                       }
                                   });
                                });
                            }

                        });
                    });
                });
        

</script>

@*<script type="text/javascript">
        $(document).ready(function () {
            $('#ddlCarModel').change(function () {
                                        $.ajax({
                                            type: "post",
                                            url: "/DropDownList/GetEngine",
                                            data: { CarModelID: $('#ddlCarModel').val() },
                                            datatype: "json",
                                            traditional: true,
                                            success: function (data) {
                                                var engine = "<select id='ddlEngine1'>";
                                                engine = engine + '<option value="">--Select--</option>';
                                                for (var i = 0; i < data.length; i++)
                                                {
                                                    engine = engine + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                                }
                                                engine = engine + '</select>';
                                                $('#Engine1').html(engine);
                                            }
                                        })
                                    })
                                           }
                                       });
                                    });
    </script>*@
} 