@model IEnumerable<FinalProject1.Turbo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TurboManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PSIRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TurboSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TurboManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PSIRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TurboSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TurboID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TurboID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TurboID })
        </td>
    </tr>
}

</table>
