@model CarProject.transmission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>transmission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransmissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransmissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransmissionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransmissionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engine1.EngineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engine1.EngineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransmissionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
